<div class="body">
	<div class="container">
		<p id="notice"><%= notice %></p>
		<h2>User info</h2>
		<div class="form-body">
			<%= form_for(@user) do |f| %>
				<% if @user.errors.any? %>
						<div class=“alert alert-warning”>
						  <ul>
							<% @user.errors.full_messages.each do |message| %>
								<li><%= message %></li>
							<% end %>
						  </ul>
						</div>
				<% end %>
				<div class="field">
					<%= f.label :Name %><%= f.text_field :name %> <!-- 自動で名前入ってる機能 -->
				</div>
				<div class="field">
					<%= f.label :Image %><%= f.attachment_field :profile_image, class: "user-edit-form" %>
				</div>
				<div class="field">
					<%= f.label :Introduction %><%= f.text_area :introduction %>
				</div>
				<p><%= f.submit "Update User" %></p>
			<% end %>
		</div>
	</div>
</div>