<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookers2</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,600,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'> 
  </head>

  <body>
    <div class="header" id="header">
      <nav class="navbar navbar-inverse" role="navigation" id="slide-nav">
        <div class="container relative">
          <nav class="nav navbar-nav navbar-left">
            <span style="color: #ffffff; font-size: 20px">Bookers</span>
          </nav>
          <div id="slidemenu">
            <ul class="nav navbar-nav navbar-right" data-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn">
              <% if user_signed_in? %>
                <li>
                  <%= link_to user_path(current_user.id) do %>
                    <i class="glyphicon glyphicon-home home"></i> Home
                  <% end %>
                </li>
                <li>
                  <%= link_to users_path do %>
                    <i class="glyphicon glyphicon-user users"></i> Users
                  <% end %>
                </li>
                <li>
                  <%= link_to books_path do %>
                    <i class="glyphicon glyphicon-book books"></i> Books
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_user_session_path, method: :delete do %> <!-- 要追記？ -->
                    <i class="glyphicon glyphicon-log-out logout"></i> logout
                  <% end %>
                </li>

              <% else %>

                <li><a class="glyphicon glyphicon-home home" href="http://localhost:3000/"> Home</a></li>
                <li><a class="glyphicon glyphicon-link about" href="http://localhost:3000/home/about"> About</a></li>
                <li><a class="glyphicon glyphicon-edit sign_up" href="/users/sign_up"> sign up</a></li>
                <li><a class="glyphicon glyphicon-log-in sign_in" href="/users/sign_in"> login</a></li>

              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <%= yield %>

    <footer>
      <div class="container">
          <div class="row">
              <div class="col-xs-3 col-xs-offset-9">
                <p>CopyRight Infratop.inc</p>
              </div>
          </div>
      </div>
    </footer>

  </body>
</html>